<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            * {
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        {% include 'container_bar.html' %} {% include 'user_info.html' %}
        {%block content %}
        <ul id="container">
            {% for refunds in all_refund %}
            <li>
                User: {{ refunds.purchase.user.username }}<br />
                Purchase: {{ refunds.purchase.product.name }}<br />
                Purchase Time: {{ refunds.purchase.purchase_time }}<br />
                Refunds Time: {{ refunds.refunds_time }}<br />
                {% if request.user.is_superuser %} {% if not refunds.approved %}
                <a href="{% url 'approve_refund' refunds.id %}">Approve</a>
                <br />
                <a href="{% url 'reject_refund' refunds.id %}">Reject</a>
                {% endif %} {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endblock %}
    </body>
</html>
