<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
    <body>
        {% include 'container_bar.html' %}<br />
        <h1>Main Page</h1>
        {% if request.user.is_authenticated %}
        <h4>Balance: {{ wallet.balance }} </h4>
        <a href="{% url 'logout' %}">Logout</a><br />
        <br />
        {% else %}
        <a href="{% url 'register' %}">Register</a>
        <br />
        <a href="{% url 'login' %}">Sing up</a>
        <br />
        {% endif %} {% block content %} {% endblock %}
    </body>
</html>
