<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        {% include 'container_bar.html' %}<br>
        <h1>Main Page</h1>
           {% if request.user.is_authenticated %}
        <h3>Name: {{ request.user.username }}</h3>
        {% if wallet is not None %}
        <h4>Balance: {{ wallet.balance }}</h4>
        {% else %} {% endif %}
        <h4></h4>
        <a href="{% url 'logout' %}">Logout</a><br />
        <br />
        {% else %}
        <a href="{% url 'register' %}">Register</a>
        <br />
        <a href="{% url 'login' %}">Sing up</a>
        <br />
        {% endif %}
        {% block content %} 
        {% endblock %}
    </body>
</html>
