<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
                    * {
                margin: 0;
                padding: 0;
            }</style>
    </head>
    <body>
        {% include 'container_bar.html' %}
        <h3>Make purchase</h3>
        {% block content %}
        <p>{{ product.name }}</p>
        <p>{{ product.text }}</p>
        <p> {{ product.cost }}$ per one </p>
        <form method="post">
            {% csrf_token %} {{ form }} <br>
            <input type="submit" value="Make Purchase" />
        </form><br>
        <a href="{% url 'product_and_searching' %}">Cancel</a>
        {% endblock %}
    </body>
</html>
