<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
        *{
            padding: 0;
            margin: 0;
        }
            #container {
                height: 500px;
                overflow-y: auto;
            }
        </style>
    </head>
    <body>
        {% include 'container_bar.html' %}
        {% block content %}

        <h3>Refunds</h3>
        <div id="container1">
        <ul id="container">
            {% for refunds in refund %}
            <li>
                User: {{ refunds.purchase.user.username }}<br />
                Purchase: {{ refunds.purchase.product.name }}<br />
                Purchase Time: {{ refunds.purchase.purchase_time }}<br />
                Refunds Time: {{ refunds.refunds_time }}<br />
            </li><br /><br />
            {% endfor %}
        </ul>
        {% if request.user.is_superuser %}
        <a href="{% url 'superuser_refund' %}">All Refunds</a>
        {% endif %}
        </div>
        {% endblock %}
    </body>
</html>